dist
__pycache__
env39
pyepidoc.egg-info
.pytest_cache
.mypy_cache
.pyc
build
env38
env310
env39ju
env39*
test.py
examples/ISic000032_tokenized.xml
**/tokenized_output/*.xml
todo.md
data
resources.md
trial
corpus
out
.vscode