__pycache__
pyepidoc.egg-info
.ipynb_checkpoints
.pytest_cache
.mypy_cache
.pyc
build
env*
.env*
examples/*.xml
**/tokenized_output/*.xml
**/lemmatized/*.xml
**/lemmatized*/*.xml
**/prettified/*.xml
**/output/*.xml
out
.vscode
*.csv
*.sch
.ipynb_checkpoints
.coverage
.VSCodeCounter
.coverage
.idea